<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sharect@2.0.0/dist/sharect.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {

    function toggleMenu() {
      const menu = document.querySelector('.nav-list');
      menu.classList.toggle('active');
    }
    document.querySelector('.nav-toggle').addEventListener('click', toggleMenu);


    // Close menu when clicking outside
    document.addEventListener('click', function(event) {
      const menu = document.querySelector('.nav-list');
      const toggle = document.querySelector('.nav-toggle');
      const container = document.querySelector('.nav-container');

      // Check if menu is open and click is outside nav-container and nav-toggle
      if (menu.classList.contains('active') &&
          !container.contains(event.target) &&
          !toggle.contains(event.target)) {
        menu.classList.remove('active');
      }
    });

    hljs.highlightAll();
    Sharect.init()
  })
</script>
