{% assign menu = site.data.menu.items %}

{% if menu %}
<div class="nav-wrap">
  <nav class="nav-container" role="navigation">
    <button class="nav-toggle" aria-label="Toggle menu">☰</button>
    <div class="nav-mobile-logo">
      <a href="/">
        <img src="/assets/img/reidr-ko.svg" alt="@reidransom" />
      </a>
    </div>
    <ul class="nav-list">
      {% for item in menu %}
      <li class='nav-item'>
        <a href="{{ item.url }}" class="nav-link">
          {% if item.img %}
          <img src='{{ item.logo }}' alt='{{ item.title }}' class='menu-logo'>
          {% else %}
          {{ item.title }}
          {% endif %}
        </a>
      </li>
      {% assign halfway = forloop.length | divided_by: 2 %}
      {% if forloop.index == halfway %}
      <li class="nav-item nav-desk-logo">
        <a class="nav-link" href="/">
          <img src="/assets/img/reidr-ko.svg" alt="@reidransom" />
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
{% endif %}
