{% assign menu = site.data.menu.items %}

{% if menu %}
  <a href="#menu">Open the menu</a>
  <nav id="menu" class="site-navigation" role="navigation">
    <button class="js-nav-toggle" aria-label="Toggle menu">☰</button>
    <ul class="js-nav-list">
      <li class="r2ware-logo">
        <a href="https://r2ware.dev">
          <img src='/assets/img/r2ware-logo-ko.svg' alt='r2ware'>
        </a>
      </li>
    {% for item in menu %}
    <li class='{% if page.url == item.url %}active{% endif %} {% if item.logo %}xmenu-logo{% endif %}'>
        {% if item.logo %}
          <a href="{{ item.url }}">
            <img src='{{ item.logo }}' alt='{{ item.title }}' class='menu-logo'>
          </a>
        {% elsif item.url contains 'http' %}
          <a href="{{ item.url }}">
            {{ item.title }}
          </a>
        {% else %}
          <a href="{{ item.url | prepend: site.baseurl }}">
            {{ item.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}
