{% assign menu = site.data.menu.items %}

{% if menu %}
  <nav class="site-navigation" role="navigation">
    <ul>
      <li>
        <a href="{{ '/' | prepend: site.baseurl }}">
          Home
        </a>
      </li>
    {% for item in menu %}
      <li {% if page.url == item.url %}class="active"{% endif %}>
        {% if item.title == 'r2ware' %}
          <a href="{{ item.url }}">
            <img src='/assets/img/r2ware-logo-ko.svg' alt='{{ item.title }}' class='menu-logo'>
          </a>
        {% elsif item.title contains 'About' %}
          <a href="{% unless page.url == '/index.html' %}/{% endunless %}#about">
            {{ item.title }}
          </a>
        {% elsif item.url contains 'http' %}
          <a href="{{ item.url }}">
            {{ item.title }}
          </a>
        {% else %}
          <a href="{{ item.url | prepend: site.baseurl }}">
            {{ item.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}
