---
layout: default
---

<div class="body-wrap">
  <div class="body-main">

    {% if site.data.menu %}
      {% include menu.html %}
    {% else %}
      {% include back-link.html %}
    {% endif %}

    <video autoplay muted loop class="cover-video">
      <source src="https://nyc3.digitaloceanspaces.com/r2ware-public-html/reidransom/design/9665235-hd_1920_1080_30fps.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

      {% if page.cover-img %}
      <img src="{{ page.cover-img }}" class="post-cover-img" alt="Cover image" />
      {% endif %}

      {% if page.title != "" %}
        <h1 class="post-title divided p-name" itemprop="name headline">
          {% if page.display_title %}
            {{ page.display_title }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
      {% endif %}

      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
      </div>

      <div class="post-meta">
        {% if page.author %}
          <div itemprop="author">{{ page.author }}</div>
        {% endif %}
        {% if page.title %}
        <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
        {% endif %}
      </div>

      <hr class="post-divider">

      {% if site.disqus.shortname %}
        {% include disqus-comments.html %}
      {% endif %}

    </article>
    <div class="wrap-md">
      {% include blog_about.html %}
    </div>
  </div>

  <footer>
    {% include menu.html %}
  </footer>

</div>
